@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen bg-[#030014] text-white font-body antialiased;
}

#root {
  @apply min-h-screen;
}
